body {
  font-family: Inter, sans-serif;
}

.card {
  background-color: rgb(0, 199, 90);
  display: block;
  padding: 20px 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: hsl(0, 0%, 10%);
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
}
